<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
</head>
<body>
    <h1>Bosh sahifa</h1>
    <ul>
        <li><a href="{% url 'muallif_list' %}">Barcha mualliflar</a></li>
        <li><a href="{% url 'kitob_list' %}">Barcha kitoblar</a></li>
        <li><a href="{% url 'record_list' %}">Barcha recordlar</a></li>
        <li><a href="{% url 'bitiruvchi_recordlar' %}">Bitiruvchilar recordlari</a></li>
        <li><a href="{% url 'student' %}">Talabalar</a></li>
        <li><a href="{% url 'admin_list' %}">Kutubxonachilar (adminlar)</a></li>
    </ul>
</body>
</html>
