<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitoblar ro‘yxati</title>
</head>
<body>
    <h1>Kitoblar ro‘yxati</h1>
    <hr>

    {% for kitob in kitoblar %}
        <p>
            {{ kitob.nom }} — {{ kitob.muallif.ism }}
            | <a href="{% url 'kitob_update' pk=kitob.id %}">Tahrirlash</a>
        </p>
    {% empty %}
        <p>Hozircha kitoblar mavjud emas.</p>
    {% endfor %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Saqlash</button>
</form>
    <hr>
    <a href="/">Bosh sahifaga qaytish</a>
</body>
</html>
