<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mualliflar</title>
</head>
<body>
    <h1>Barcha Mualliflar</h1>

    <!-- Qidiruv formasi -->
    <form method="get">
        <input type="text" name="q" placeholder="Muallif ismi bo‘yicha qidirish" value="{{ request.GET.q }}">
        <button type="submit">Qidirish</button>
    </form>

    <ul>
        {% for muallif in mualliflar %}
            <li>
                <a href="{% url 'muallif_detail' muallif.id %}">{{ muallif.ism }}</a>
                | <a href="{% url 'muallif_update' muallif.id %}">
                    <button type="button">Tahrirlash</button>
                  </a>
                | <a href="{% url 'muallif_delete' muallif.id %}">O‘chirish</a>
            </li>
        {% empty %}
            <li>Hech qanday muallif topilmadi.</li>
        {% endfor %}
    </ul>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Saqlash</button>
    </form>
</body>
</html>
